<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<table class="body">
  <tr>
    <td>
      <center>
        <container>
            <columns small="12" large="12">
            <spacer size="40"></spacer>
           <center><img src="https://s17.postimg.org/c10tqfdm7/RWSU45_Z.png" alt="" class="logo" /></center>
            <spacer size="30"></spacer>
  
            <p class="text-center italy">В этой рассылке: новости и мероприятия</p>
            <spacer size="10"></spacer>
            <hr />
            <spacer size="20"></spacer>
     
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sunt itaque ea dolores, ad quidem dignissimos pariatur omnis dicta alias rerum voluptate, voluptatibus dolorem assumenda cum sapiente corrupti perferendis tempora sint? Et itaque, dolor reprehenderit quas voluptatibus accusantium, reiciendis. Animi quae non placeat velit praesentium consequatur maiores, nobis deleniti voluptatibus, recusandae ipsum vel illum, voluptatem cupiditate nam culpa libero fugit! Hic, qui ut repellat, delectus, autem soluta est laudantium quia dolore porro ea molestias similique quam vitae quis aut blanditiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero incidunt nemo eos veritatis autem dolor, culpa veniam explicabo atque ut.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aperiam molestias, assumenda ipsam, quaerat expedita. Debitis facilis, pariatur repellat iusto id nulla rem illo quo nihil nam consectetur eius, culpa quasi temporibus ullam reprehenderit quae cupiditate incidunt, aut molestiae quia perspiciatis sed, quis blanditiis. Quia rerum corrupti dignissimos possimus, adipisci officia error explicabo ipsum quo assumenda voluptatibus totam porro veniam magnam, perspiciatis minus sapiente nisi alias consectetur aliquam voluptate similique. Placeat distinctio voluptate id natus atque doloribus, unde repellendus in! Accusantium delectus eveniet, veritatis facilis amet laborum labore libero, voluptate blanditiis placeat iusto. Cum hic enim quo consequuntur, numquam sint.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aperiam molestias, assumenda ipsam, quaerat expedita. Debitis facilis, pariatur repellat iusto id nulla rem illo quo nihil nam consectetur eius, culpa quasi temporibus ullam reprehenderit quae cupiditate incidunt, aut molestiae quia perspiciatis sed, quis blanditiis. Quia rerum coconsequuntur, numquam sint.</p>
            
            <spacer size="20"></spacer>
            <hr />
                  <spacer size="30"></spacer>
             <row >
                <columns small="12" large="2"> 
                  <img src="https://s21.postimg.org/bf32yndef/unnamed.jpg" alt=""  />
                </columns>
                <columns small="12" large="10"> 
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum tempora quo molestiae eum facilis assumenda necessitatibus numquam dolores beatae. Quis, dolor architecto ipsam.</p>
                </columns>
            </row>
            <hr />
             <spacer size="30"></spacer>
             <p class="text-center italy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ut ex, libero possimus quisquam. Omnis voluptatem autem magnam temporibus, atque repellendus rerum quisquam totam aspernatur doloremque odio maxime nobis amet incidunt, corporis non libero reiciendis sequi asperiores ratione? Ipsum soluta beatae sapiente, rerum eius nemo hic tenetur neque minima consequuntur expedita corrupti consequatur quidem tempore quos dolorem qui eaque fuga!</p>

             <spacer size="50"></spacer>

             <row >
                 <columns small="12" large="6" > 
                  <p class="text-center italy">Следите за нами:</p>
                      <p class="text-center italy">
                      <span class="soc-item">
                        <a href="http://vk.com/nalogia_ru">
                          <img src="https://s17.postimg.org/4ozyymkrz/image.png" alt="" /> 
                        </a>
                      </span>
                      <span class="soc-item">
                        <a href="https://twitter.com/#!/nalogia">
                          <img src="https://s17.postimg.org/751sch2un/twitter.png" alt="" />
                        </a>
                      </span>
                      <span class="soc-item">
                        <a href="http://www.facebook.com/Nalogia">
                          <img src="https://s17.postimg.org/w9sspw2b3/facebook.png" alt="" /> 
                        </a>
                      </span>
                      </p>
                 </columns>

                 <columns small="12" large="6"> 
                  <p  class="text-center ">Наши контакты:</p>
                  <p class="text-center ">8(495) 646 8905</p>
                  <p class="text-center ">8(812) 643 4225</p>
                  <p class="text-center ">8 800 505 8905</p>
                 </columns>
             </row>

          </columns>
      </container>
    </center>
  </td>
</tr>
</table>
</body>
</html>

<!-- 
https://s17.postimg.org/c10tqfdm7/RWSU45_Z.png
https://s17.postimg.org/w9sspw2b3/facebook.png
https://s17.postimg.org/751sch2un/twitter.png
https://s17.postimg.org/4ozyymkrz/image.png
https://s10.postimg.org/b74isgxax/unnamed.png
-->